<section id="cases">
  <p>This is what we do</p>
  <h2>Business Cases</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="cases-list gallery">
    <li>
      <a href="https://ibb.co/D8D4d5G">
        <img
          src="./images/cases-1.jpg"
          alt="team work"
          width="320"
          height="214"
        />
      </a>
    </li>
    <li>
      <a href="https://ibb.co/D8D4d5G">
        <img src="./images/cases-2.jpg" alt="stats" width="320" height="214" />
      </a>
    </li>
    <li>
      <a href="https://ibb.co/m4pgM9v">
        <img
          src="./images/cases-3.jpg"
          alt="freandly"
          width="320"
          height="214"
        />
      </a>
    </li>
    <li>
      <a href="https://ibb.co/fYXbgY7">
        <img src="./images/cases-4.jpg" alt="meet" width="320" height="214" />
      </a>
    </li>
    <li>
      <a href="https://ibb.co/5LY7m59">
        <img src="./images/cases-5.jpg" alt="laptop" width="320" height="214" />
      </a>
    </li>
    <li>
      <a href="https://ibb.co/f1LsSGs">
        <img src="./images/cases-6.jpg" alt="town" width="320" height="214" />
      </a>
    </li>
    <li>
      <a href="https://ibb.co/xmZQP6Z">
        <img src="./images/cases-7.jpg" alt="team" width="320" height="214" />
      </a>
    </li>
    <li>
      <a href="https://ibb.co/17mRQpB">
        <img
          src="./images/cases-8.jpg"
          alt="smile team"
          width="320"
          height="214"
        />
      </a>
    </li>
  </ul>
</section>
